@import 'main.less';
.container{
  width: 1170px;
}

.g-content-edge {
  .container{
    .m-content{
      background: #eeeeee;
      padding: 80px 0;
      h1 {
        font-size: @font-size-xl;
        color: @color-main;
        height: 40px;
      }
      h2 {
        font-size: @font-size-xl;
        color: @color-main;
        line-height: 40px;
      }
      p{
        width: 30px;
        border: 1px solid @color-main;
        margin: 0 auto;
      }
      div{
        color: #727171;
      }
    }
    .m-content-1{
      h1 {
        background: url("/public/images/icon/icon-01.png") no-repeat center center;
      }
    }
    .m-content-2{
      h1 {
        background: url("/public/images/icon/icon-02.png") no-repeat center center;
      }
    }
    .m-content-3{
      h1 {
        background: url("/public/images/icon/icon-03.png") no-repeat center center;
      }
    }
    .m-content-4{
      h1 {
        background: url("/public/images/icon/icon-04.png") no-repeat center center;
      }
    }
  }
}

.g-course{
  h1{
    border-bottom: 1px solid @color-gray;
    font-size: @font-size-xxxl;
    line-height: 40px;
  }
  .m-content{
    background: url("/public/images/course/bg-course-main.png") center center;
    width: 906px;
    height: 849px;
    margin: 50px auto;
    &>div{
      position: absolute;

    }
    .item {
      position: absolute;
      border-radius: 50px;
      background-color: rgba(0, 0, 0, 0.5);
      width: 50px;
      height: 50px;
      text-align: center;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s;
      &.item-esca {
        background-color: #239ea6;
        border-radius: 333px;
        width: 333px;
        height: 333px;
        line-height: 333px;
        font-size: 60px;
        color: #fff;
        cursor: pointer;
        left: 285px;
        top: 0;
      }
      &.item-harvard {
        background-color: #1c8187;
        border-radius: 230px;
        width: 230px;
        height: 230px;
        line-height: 230px;
        font-size: 26px;
        color: #fff;
        cursor: pointer;
        left: 140px;
        top: 217px;
      }
      &.item-opera {
        background-color: #1c8187;
        border-radius: 230px;
        width: 230px;
        height: 230px;
        line-height: 230px;
        font-size: 26px;
        color: #fff;
        cursor: pointer;
        left: 560px;
        top: 166px;
      }
      &.item-3-6 {
        background-color: #239ea6;
        border-radius: 180px;
        width: 180px;
        height: 180px;
        line-height: 40px;
        padding: 60px 0;
        font-size: 22px;
        color: #fff;
        cursor: pointer;
        left: 74px;
        top: 405px;
      }
      &.item-7-12 {
        background-color: #239ea6;
        border-radius: 200px;
        width: 200px;
        height: 200px;
        line-height: 40px;
        padding: 60px 0;
        font-size: 22px;
        color: #fff;
        cursor: pointer;
        left: 245px;
        top: 456px;
      }
      &.item-12part {
        background-color: #239ea6;
        border-radius: 200px;
        width: 200px;
        height: 200px;
        line-height: 32px;
        padding: 60px 0;
        color: #fff;
        cursor: pointer;
        left: 460px;
        top: 400px;
      }
      &.item-6part {
        background-color: #1c8187;
        border-radius: 200px;
        width: 200px;
        height: 200px;
        line-height: 32px;
        padding: 60px 0;
        color: #fff;
        cursor: pointer;
        left: 637px;
        top: 360px;
      }
    }
  }
}
.mTips{
  .m-tips-esca{
    width: 653px;
    height: 179px;
    background: url("/public/images/course/pop-esca.png") no-repeat center center;
  }
  .m-tips-harvard {
    width: 618px;
    height: 226px;
    background: url("/public/images/course/pop-harvard.png") no-repeat center center;
  }
  .m-tips-opera{
    width: 576px;
    height: 156px;
    background: url("/public/images/course/pop-opera.png") no-repeat center center;
  }
  .m-tips-3-6{
    width: 585px;
    height: 335px;
    background: url("/public/images/course/pop-smart-english.png") no-repeat center center;
  }
  .m-tips-7-12{
    width: 585px;
    height: 312px;
    background: url("/public/images/course/pop-genius-english.png") no-repeat center center;
  }
  .m-tips-12part{
    width: 566px;
    height: 415px;
    background: url("/public/images/course/pop-12part.png") no-repeat center center;
  }
  .m-tips-6core{
    width: 499px;
    height: 211px;
    background: url("/public/images/course/pop-6core.png") no-repeat center center;
  }

}