body {
  margin: 0;
  font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体";
  font-size: 14px;
}
.container {
  max-width: 1120px;
}
a {
  color: #209aaf;
}
a:hover {
  color: #42bcd1;
  text-decoration: none;
}
.u-text-sm {
  font-size: 12px;
}
.u-text-md {
  font-size: 14px;
}
.u-text-lg {
  font-size: 16px;
}
.u-text-xl {
  font-size: 18px;
}
.u-text-xxl {
  font-size: 22px;
}
.u-text-xxxl {
  font-size: 26px;
}
h1.m-block-title {
  font-size: 22px;
  border-bottom: 1px solid #bbbbbd;
  color: #39434b;
  line-height: 52px;
  text-indent: 8px;
}
h1.m-block-title-more {
  border-bottom: 1px solid #209aaf;
}
h1.m-block-title-more .u-title {
  width: 160px;
  line-height: 50px;
  background: #209aaf;
  font-size: 26px;
  color: #FFF;
  text-align: center;
}
h1.m-block-title-more .u-more {
  font-size: 22px;
}
h1.m-block-title-more .u-more .u-title-en {
  display: inline-block;
  line-height: 48px;
}
h1.m-block-title-more .u-more a.u-btn {
  width: 174px;
  background: url(/public/images/img-plus-03.png) no-repeat center center;
  display: inline-block;
  float: right;
  padding: 0 0 0 35px;
  color: #209aaf;
  font-size: 18px;
}
h1.m-block-title-more .u-more a.u-btn:hover {
  text-decoration: none;
  background: url(/public/images/img-plus-04.png) no-repeat center center;
  color: #c2c64b;
}
h1.m-block-title-more .u-more a.u-btn span {
  display: inline-block;
  line-height: 46px;
  vertical-align: middle;
}
h1.u-num {
  line-height: 92px;
  color: #82bf34;
  font-size: 16px;
  margin: 0 0 10px;
}
h5.modal-title {
  color: #fff;
  font-size: 12px;
  margin: 0 0 50px;
}
.overflow-hidden {
  overflow: hidden;
}
.modal-content {
  border: 0;
}
.nav-pills {
  font-size: 18px;
}
.nav-pills li {
  border-right: 2px solid #2b2d39;
}
.nav-pills li:last-child {
  border-right: 0;
}
.nav-pills li a.nav-link {
  color: #2b2d39;
  padding: 0 1rem;
}
.nav-pills li a.nav-link.active {
  color: #209aaf;
  background-color: #fff;
}
.g-top-link {
  border-bottom: 1px solid #d4d4d5;
}
.g-top-link .m-link {
  font-size: 12px;
  line-height: 40px;
  text-align: center;
}
.g-top-link .m-link div > div {
  border-right: 1px solid #d4d4d5;
}
.g-top-link .m-link a {
  color: #727171;
}
.g-top-link .m-phone {
  font-size: 18px;
  line-height: 40px;
  color: #209aaf;
}
.g-top-link .m-phone .u-phone {
  background: url(/public/images/icon/phone-1.png) no-repeat 0 11px;
  text-indent: 20px;
  line-height: 40px;
}
.g-header .m-logo {
  width: 240px;
  height: 78px;
  background: url(/public/images/icon/logo-hy-ruizhi.png) no-repeat left center;
}
.g-header .m-nav .nav {
  color: #000;
}
.g-header .m-nav .nav a {
  font-size: 18px;
  color: #000;
  line-height: 76px;
  border-bottom: 2px solid #ffffff;
}
.g-header .m-nav .nav a:hover,
.g-header .m-nav .nav a.active {
  color: #209aaf;
  text-decoration: none;
  border-bottom: 2px #209aaf solid;
}
.g-top-slide {
  height: 550px;
}
.g-top-slide .carousel-inner .carousel-item {
  height: 550px;
}
.g-top-slide .carousel-inner .carousel-item a {
  display: block;
  width: 100%;
  height: 550px;
}
.g-sub-banner-1 {
  background: url("/public/images/bg-top01.png") no-repeat;
  height: 450px;
}
.g-sub-banner-1 .m-reg {
  background: url("/public/images/bg-top02.png");
  border-radius: 10px;
  width: 280px;
  height: 365px;
  text-align: center;
}
.g-sub-banner-1 .m-reg .m-title-1 {
  border-bottom: 1px solid #7a7b80;
}
.g-sub-banner-1 .m-reg .m-title-2 {
  font-size: 22px;
}
.g-sub-banner-1 .m-reg .m-input {
  margin: 0 auto;
  width: 200px;
  border-radius: 2px;
}
.g-sub-banner-1 .m-reg .m-input input {
  border: 0;
}
.g-sub-banner-1 .m-reg .m-input-name {
  background: url("/public/images/img-input-name.png") no-repeat #fff 5px 10px;
}
.g-sub-banner-1 .m-reg .m-input-age {
  background: url("/public/images/img-input-age.png") no-repeat #fff 5px 8px;
}
.g-sub-banner-1 .m-reg .m-input-tel {
  background: url("/public/images/img-input-tel.png") no-repeat #fff 5px 6px;
}
.g-sub-banner-1 .m-reg .u-btn {
  margin: 0 auto;
  width: 200px;
  background: #209aaf;
  color: #ececec;
  line-height: 38px;
  border-radius: 2px;
  cursor: pointer;
}
.g-event-hot .carousel-inner .carousel-item {
  height: 380px;
}
.g-event-hot .carousel-inner .carousel-item a {
  display: block;
  width: 100%;
  height: 380px;
}
.g-breadcrumb {
  background: #eeeeee;
}
.g-teacher-recommend {
  padding: 50px 0 0 0;
}
.g-teacher-recommend .m-title {
  border-bottom: 1px solid #209aaf;
}
.g-teacher-recommend .m-title .u-title {
  width: 160px;
  line-height: 50px;
  background: #209aaf;
  font-size: 26px;
  color: #FFF;
  text-align: center;
}
.g-teacher-recommend .m-title .u-more {
  font-size: 22px;
}
.g-teacher-recommend .m-title .u-more .u-title-en {
  display: inline-block;
  line-height: 48px;
}
.g-teacher-recommend .m-title .u-more a.u-btn {
  display: inline-block;
  float: right;
  border: 1px solid #209aaf;
  border-radius: 40px;
  padding: 0 20px;
  color: #209aaf;
}
.g-teacher-recommend .m-title .u-more a.u-btn:hover {
  text-decoration: none;
}
.g-teacher-recommend .m-title .u-more a.u-btn span {
  display: inline-block;
  line-height: 40px;
  vertical-align: middle;
}
.g-teacher-recommend .m-title .u-more a.u-btn span.u-plus {
  font-size: 32px;
  line-height: 40px;
}
.g-teacher-recommend .m-content .u-content {
  padding: 0;
  margin: 0 10px;
  overflow: hidden;
  background-color: #209aaf;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 470px;
}
.g-teacher-recommend .m-content .u-content .u-info {
  text-align: center;
  padding: 18px;
  background: url(/public/images/bg-maincolor-translucent.png);
  margin: 371px 0 0 0;
  height: 371px;
}
.g-teacher-recommend .m-content .u-content .u-info .u-name {
  font-size: 18px;
  color: #fff;
}
.g-teacher-recommend .m-content .u-content .u-info .u-name a {
  color: #fff;
}
.g-teacher-recommend .m-content .u-content .u-info .u-title {
  font-size: 14px;
  color: #fff;
}
.g-teacher-recommend .m-content .u-content .u-info .u-title a {
  color: #fff;
}
.g-teacher-recommend .m-content .u-content .u-info .u-edu {
  font-size: 14px;
  color: #fff;
}
.g-teacher-recommend .m-content .u-content .u-info .u-edu a {
  color: #fff;
}
.g-teacher-recommend .m-content .u-content .u-info .u-intro {
  font-size: 14px;
  color: #fff;
}
.g-teacher-recommend .m-content .u-content .u-info .u-intro a {
  color: #fff;
}
.g-teacher-recommend .m-content .u-content .u-btn {
  width: 32px;
  height: 32px;
  background: url(/public/images/img-plus-01.png) no-repeat center center;
  display: block;
  right: 15px;
  top: 15px;
  font-size: 30px;
}
.g-teacher-recommend .m-content .u-content .u-btn-light {
  background: url(/public/images/img-plus-02.png) no-repeat center center;
}
.g-teacher-recommend .m-content .u-content .pos_a {
  position: absolute;
}
.g-event-hot {
  padding: 50px 0;
}
.g-event-hot.bg-eee {
  background: #eeeeee;
}
.g-event-hot .m-title {
  border-bottom: 1px solid #209aaf;
}
.g-event-hot .m-title .u-title {
  width: 160px;
  line-height: 50px;
  background: #209aaf;
  font-size: 26px;
  color: #FFF;
  text-align: center;
}
.g-event-hot .m-title .u-more {
  font-size: 22px;
}
.g-event-hot .m-title .u-more .u-title-en {
  display: inline-block;
  line-height: 48px;
}
.g-event-hot .m-title .u-more a.u-btn {
  display: inline-block;
  float: right;
  border: 1px solid #209aaf;
  border-radius: 40px;
  padding: 0 20px;
  color: #209aaf;
}
.g-event-hot .m-title .u-more a.u-btn:hover {
  text-decoration: none;
}
.g-event-hot .m-title .u-more a.u-btn span {
  display: inline-block;
  line-height: 40px;
  vertical-align: middle;
}
.g-event-hot .m-title .u-more a.u-btn span.u-plus {
  font-size: 32px;
  line-height: 40px;
}
.g-event-hot .m-menu {
  font-size: 16px;
}
.g-event-hot .m-menu span {
  display: inline;
  line-height: 50px;
  padding: 0 10px;
  border-right: 2px solid #209aaf;
}
.g-event-hot .m-menu span.on {
  color: #209aaf;
}
.g-event-hot .m-menu span:last-child {
  border-right: 0;
}
.g-event-hot .m-content .u-content {
  background: #FFF;
  padding: 0;
  margin: 0 10px;
}
.g-event-hot .m-content .u-content .u-info {
  padding: 18px;
}
.g-event-hot .m-content .u-content .u-info .u-title {
  font-size: 18px;
  color: #39434b;
}
.g-event-hot .m-content .u-content .u-info .u-title a {
  color: #39434b;
}
.g-event-hot .m-content .u-content .u-info .u-intro {
  font-size: 14px;
  color: #727171;
}
.g-event-hot .m-content .u-content .u-info .u-intro a {
  color: #727171;
}
.modal-teacher-show .u-modal-teacher-show-info .u-modal-teacher-show-name {
  font-size: 23px;
  color: #39434b;
  line-height: 32px;
}
.modal-teacher-show .u-modal-teacher-show-info .u-modal-teacher-show-title {
  line-height: 28px;
  color: #2b2d39;
}
.modal-teacher-show .u-modal-teacher-show-info .u-modal-teacher-show-teachage {
  line-height: 28px;
  color: #2b2d39;
}
.modal-teacher-show .u-modal-teacher-show-info .u-modal-teacher-show-education {
  line-height: 28px;
  color: #2b2d39;
}
.modal-teacher-show .u-modal-teacher-show-info .u-modal-teacher-show-intro {
  color: #727171;
}
.g-pop-online {
  position: fixed;
  top: 110px;
  right: 30px;
}
.g-pop-online > div > a {
  display: inline-block;
  width: 84px;
  height: 84px;
  background-color: #1f99ae;
  color: #fff;
  text-align: center;
  padding: 50px 0 0;
}
.g-pop-online > div > a:hover {
  background-color: #c2c64b;
}
.g-pop-online > div > a.u-btn1 {
  background-image: url(/public/images/online/bg1.png);
  background-position: center 20px;
  background-repeat: no-repeat;
}
.g-pop-online > div > a.u-btn2 {
  background-image: url(/public/images/online/bg2.png);
  background-position: center 20px;
  background-repeat: no-repeat;
}
.g-pop-online > div > a.u-btn3 {
  background-image: url(/public/images/online/bg3.png);
  background-position: center 16px;
  background-repeat: no-repeat;
}
.g-pop-online > div > a.u-btn4 {
  background-image: url(/public/images/online/bg4.png);
  background-position: center 20px;
  background-repeat: no-repeat;
}
.g-pop-online > div > a.u-btn5 {
  background-image: url(/public/images/online/bg5.png);
  background-position: center 16px;
  background-repeat: no-repeat;
}
.g-footer {
  background: #2b2d39;
  color: #ececec;
}
.g-footer .m-contact .u-phone {
  background: url(/public/images/icon/phone-2.png) no-repeat 0 10px;
  text-indent: 30px;
  line-height: 40px;
}
.g-footer .m-contact .u-address {
  background: url(/public/images/icon/address.png) no-repeat 0 10px;
  text-indent: 30px;
  line-height: 40px;
}
.g-footer .m-contact .m-wx .u-arrow {
  height: 40px;
  background: url(/public/images/icon/arrow-right.png) no-repeat center center;
}
.g-footer .m-contact .m-wx .u-wx-text {
  border: 1px solid #FFF;
  text-align: center;
  width: 138px;
  height: 138px;
  line-height: 30px;
}
.g-footer .m-copyright {
  border-top: 1px solid #555761;
  color: #7a7b80;
  text-align: center;
  font-size: 15px;
}
.container {
  width: 1170px;
}
.g-content-edge .container .m-content {
  background: #eeeeee;
  padding: 80px 0;
}
.g-content-edge .container .m-content h1 {
  font-size: 18px;
  color: #209aaf;
  height: 40px;
}
.g-content-edge .container .m-content h2 {
  font-size: 18px;
  color: #209aaf;
  line-height: 40px;
}
.g-content-edge .container .m-content p {
  width: 30px;
  border: 1px solid #209aaf;
  margin: 0 auto;
}
.g-content-edge .container .m-content div {
  color: #727171;
}
.g-content-edge .container .m-content:hover h2 {
  color: #c2c64b;
}
.g-content-edge .container .m-content:hover p {
  border: 1px solid #c2c64b;
}
.g-content-edge .container .m-content-1 h1 {
  background: url("/public/images/icon/icon-01.png") no-repeat center center;
}
.g-content-edge .container .m-content-1:hover h1 {
  background: url("/public/images/icon/icon-05.png") no-repeat center center;
}
.g-content-edge .container .m-content-2 h1 {
  background: url("/public/images/icon/icon-02.png") no-repeat center center;
}
.g-content-edge .container .m-content-2:hover h1 {
  background: url("/public/images/icon/icon-06.png") no-repeat center center;
}
.g-content-edge .container .m-content-3 h1 {
  background: url("/public/images/icon/icon-03.png") no-repeat center center;
}
.g-content-edge .container .m-content-3:hover h1 {
  background: url("/public/images/icon/icon-07.png") no-repeat center center;
}
.g-content-edge .container .m-content-4 h1 {
  background: url("/public/images/icon/icon-04.png") no-repeat center center;
}
.g-content-edge .container .m-content-4:hover h1 {
  background: url("/public/images/icon/icon-08.png") no-repeat center center;
}
.g-course h1 {
  border-bottom: 1px solid #7a7b80;
  font-size: 26px;
  line-height: 40px;
}
.g-course .m-content {
  background: url("/public/images/course/bg-course-main.png") center center;
  width: 906px;
  height: 849px;
  margin: 50px auto;
}
.g-course .m-content > div {
  position: absolute;
}
.g-course .m-content .item {
  position: absolute;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 50px;
  height: 50px;
  text-align: center;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.g-course .m-content .item.item-esca {
  background-color: #239ea6;
  border-radius: 333px;
  width: 333px;
  height: 333px;
  line-height: 333px;
  font-size: 60px;
  color: #fff;
  cursor: pointer;
  left: 285px;
  top: 0;
}
.g-course .m-content .item.item-harvard {
  background-color: #1c8187;
  border-radius: 230px;
  width: 230px;
  height: 230px;
  line-height: 230px;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  left: 140px;
  top: 217px;
}
.g-course .m-content .item.item-opera {
  background-color: #1c8187;
  border-radius: 230px;
  width: 230px;
  height: 230px;
  line-height: 230px;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  left: 560px;
  top: 166px;
}
.g-course .m-content .item.item-3-6 {
  background-color: #239ea6;
  border-radius: 180px;
  width: 180px;
  height: 180px;
  line-height: 28px;
  padding: 60px 0;
  font-size: 22px;
  color: #fff;
  cursor: pointer;
  left: 74px;
  top: 405px;
}
.g-course .m-content .item.item-7-12 {
  background-color: #239ea6;
  border-radius: 200px;
  width: 200px;
  height: 200px;
  line-height: 28px;
  padding: 60px 0;
  font-size: 22px;
  color: #fff;
  cursor: pointer;
  left: 245px;
  top: 456px;
}
.g-course .m-content .item.item-12part {
  background-color: #239ea6;
  border-radius: 200px;
  width: 200px;
  height: 200px;
  line-height: 28px;
  padding: 60px 0;
  color: #fff;
  cursor: pointer;
  left: 460px;
  top: 400px;
}
.g-course .m-content .item.item-6core {
  background-color: #1c8187;
  border-radius: 200px;
  width: 200px;
  height: 200px;
  line-height: 28px;
  padding: 60px 0;
  color: #fff;
  cursor: pointer;
  left: 637px;
  top: 360px;
}
.mTips .m-tips-esca {
  width: 653px;
  height: 179px;
  background: url("/public/images/course/pop-esca.png") no-repeat center center;
}
.mTips .m-tips-harvard {
  width: 618px;
  height: 226px;
  background: url("/public/images/course/pop-harvard.png") no-repeat center center;
}
.mTips .m-tips-opera {
  width: 576px;
  height: 156px;
  background: url("/public/images/course/pop-opera.png") no-repeat center center;
}
.mTips .m-tips-3-6 {
  width: 585px;
  height: 335px;
  background: url("/public/images/course/pop-smart-english.png") no-repeat center center;
}
.mTips .m-tips-7-12 {
  width: 585px;
  height: 312px;
  background: url("/public/images/course/pop-genius-english.png") no-repeat center center;
}
.mTips .m-tips-12part {
  width: 566px;
  height: 415px;
  background: url("/public/images/course/pop-12part.png") no-repeat center center;
}
.mTips .m-tips-6core {
  width: 499px;
  height: 211px;
  background: url("/public/images/course/pop-6core.png") no-repeat center center;
}
/*# sourceMappingURL=course.css.map */