@import 'main.less';

.g-index-content {
  padding: 50px 0 0 0;
  &.bg-eee {
    background: #eee;
    .nav-pills li a.nav-link.active {
      background-color: #eee;
    }
  }
  .u-content {
    /*background: #FFF;
    padding: 0;*/
    padding-right: 8px;
    padding-left: 8px;
    &>div:first-child{
      background: #fff;
    }
    .u-img {
      height: 231px;
      a {
        height: 231px;
      }
    }
    .u-info {
      padding: 18px;
      .u-title {
        font-size: @font-size-xl;
        color: #39434b;
        a {
          color: #39434b;
        }
      }
      .u-intro {
        font-size: @font-size-md;
        color: #727171;
        a {
          color: #727171;
        }
      }

    }
  }
}