@import 'main.less';

.g-content-video {
  .container{
    width: 1170px;
  }
  .m-content{
    background: @color-main;
    color: @color-white;
    text-align: center;
    padding: 50px 0 50px 0;
    .u-hr{
      width: 100px;
      border:1px solid @color-white;
      margin: 0 auto;
    }
    h1{
    }
  }
}