@import 'main.less';

.g-content-video {
  background: #eeeeee;
  .m-content{
    background: #fff;
    color: #39434b;
    padding: 50px 0 50px 0;
    border-bottom: 9px solid #989898;
    h1{
      font-size: @font-size-xxl;
    }
    .u-hr{
      width: 100px;
      border:1px solid @color-white;
      margin: 0 auto;
    }
    h1{
    }
  }
}

.g-partner {
  background: #eeeeee;
  .container {
    .m-partner {
      text-align: center;
      &>div {
        height: 200px;
      }
    }
  }
}
/*风琴样式表*/
.m-photo-slide{
  .m-slide {
    @width : 194px;
    @height : 490px;

    position: relative;
    margin: 0;
    padding: 0;
    height: @height;
    overflow: hidden;
    .s {
      position: relative;
      width: @width;
      height: @height;
      float: left;
      background: #ededed;
      overflow: hidden;
      font-size: 12px;
      a {
        text-decoration: none;
      }
      .mask {
        background: url(/public/images/event/mask-01.png) repeat;
        width: @width;
        height: @height;
        position: absolute;
        top:0;
      }
      .m-info {
        position: absolute;
        width: 560px;
        height: 490px;
        margin: 0 0 0 366px;
        color: @color-white;
        background: @color-main;
        p {
          width: 100px;
          border: 1px solid #fff;
        }
        h3 {

        }
        div {
          font-size: @font-size-md;
        }
      }
    }
  }
}
/*风琴样式表*/